html, body {
    height: 100%;
}

body {
    background-image: url("images/papyrus.png");
    background-color:rgb(196, 225, 250);
}

.fontOne {
font-family: 'Courgette', cursive;
}

.fontTwo {
font-family: 'Domine', serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.navbar {
    background-color: rgb(232, 240, 247);
    border-bottom: 2px solid white;
}

#main {
    margin-top: 90px;
    margin-bottom: 40px;
    background-color:rgb(232, 240, 247, .7);
    border: 2px solid white;
}

.media-body {
    padding-left: 10px;
}

.aboutText {
    text-indent: 50px;
    line-height: 2.0;
    font-size: 18px;
}

#portfolio-pic {
    height: 200px;
    border: 2px solid white;
    /* margin-bottom: 30px; */
    /* margin-left: 240px; */
}

#footer {
    background-color: rgb(232, 240, 247);
    border-top: 2px solid white;
    padding-top: 10px;
}

a {
    color: inherit;
}

a:hover {
    color: coral;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: coral;
}

.over {
    overflow-wrap: break-word;
}
